- content_for :title, @position.name
%h1= yield :title
%p= @position.outline
%p
  Positon on Issue:
  %strong
    #{@issue.name}
%p
  %strong Actions
%hr
.tile-container
  = link_to issue_path(@issue), class: 'tile' do
    = 'Issue'
