- content_for :title, @issue.name
%h1= yield :title
- if @supports.present?
  %p
    %strong Positions
  .tile-container
    - @supports.each do |support|
      .tile
        %strong
          = link_to '-', profile_preference_path(support, preference: support.down_preference), |
            method: :patch
        = link_to support.position.name, profile_issue_position_path(@issue, support.position)
        %strong
          - if support == @supports.last
            = link_to '+', profile_preference_path(support, preference: support.first_preference), |
              method: :patch
          - else
            = link_to '+', profile_preference_path(support, preference: support.up_preference), |
              method: :patch
- else
  %p This issue does not have any positions declared
%p
  %strong Actions
%hr
.tile-container
  = link_to edit_profile_issue_path(@issue), class: 'tile' do
    = 'Edit Issue'
  = link_to new_profile_issue_position_path(@issue), class: 'tile' do
    = 'Add Position'
  = link_to issue_path(@issue), class: 'tile' do
    = 'Back to Issue'
  = render partial: 'layouts/authentication_tiles'
