- content_for :title, "New Position on #{@issue.name}"
%h1= yield :title
%section
  = form_for [:profile, @issue, @position] do |f|
    .form-group
      = f.label :name
      = f.text_field :name, class: 'form-control'
    .form-group
      = f.label :outline
      = f.text_area :outline, class: 'form-control'
    .actions.form-group
      = f.submit nil, class: 'btn btn-primary'
  = link_to 'Back to Issue', issue_path(@issue)
