- content_for :title, @position.name
%h1= yield :title
- if @issue.outline.present?
  = render 'layouts/article', text: @position.outline
%p
  Positon on Issue:
  %strong
    #{@issue.name}
%p
  %strong Actions
%hr
.tile-container
  = link_to profile_issue_path(@issue), class: 'tile' do
    = 'Back to Issue'
