- content_for :title, @position.name
%h1= yield :title
%p
  Positon on Issue:
  %strong
    #{@issue.name}
- if @issue.outline.present?
  = render 'layouts/article', text: @position.outline
%p
  %strong Supporting Resources
= render 'layouts/links', path_to_new: new_issue_position_link_path(@issue, @position), links: @links
%p
  %strong Actions
%hr
.tile-container
  = link_to edit_profile_issue_position_path(@issue, @position), class: 'tile' do
    = 'Edit Position'
  = link_to profile_issue_path(@issue), class: 'tile' do
    = 'Back to Issue'
