- content_for :title, 'Home'
%landing
  %logo Open Civic Platform
.container
  %p
    %strong Issues Being Discussed
  - if @issues.present?
    .tile-container
      - @issues.each do |issue|
        = link_to issue_path(issue), class: 'tile' do
          = issue.name
  - else
    %p There are no issues currently being discussed
  %p
    %strong Actions
  %hr
  .tile-container
    = link_to new_profile_issue_path, class: 'tile' do
      = 'New Issue'
    = render partial: 'layouts/authentication_tiles'
