- content_for :title, @issue.name
%h1= yield :title
- if @issue.outline.present?
  = render 'layouts/article', text: @issue.outline
- if user_signed_in? || @links.any?
  %p
    %strong Background Resources
  = render 'layouts/links', path_to_new: new_issue_link_path(@issue), links: @links
%p
  %strong Positions
.tile-container
  - @positions.each do |position|
    = render 'layouts/tile', url: issue_position_path(@issue, position), title: position.name
  - if @adoption.present?
    = link_to new_profile_issue_position_path(@issue), class: 'tile' do
      = 'Add Position'
%p
  %strong Actions
%hr
.tile-container
  - if @adoption.present?
    = link_to edit_profile_issue_path(@issue), class: 'tile' do
      = 'Edit Issue'
    = link_to profile_issue_path(@issue), class: 'tile' do
      = 'Preferences'
  - elsif user_signed_in?
    = link_to profile_issues_path(issue: {name: @issue.name}), method: :post, class: 'tile' do
      = 'Adopt Issue'
  = link_to issues_path, class: 'tile' do
    = 'All Issues'
  = render partial: 'layouts/authentication_tiles'
