- content_for :title, @issue.name
%h1= yield :title
- if @positions.present?
  %p
    %strong Registered Positions
  .tile-container
    - @positions.each do |position|
      = link_to issue_position_path(@issue, position), class: 'tile' do
        = position.name
- else
  %p This issue does not have any positions declared
%p
  %strong Actions
%hr
.tile-container
  - if @adoption.present?
    - if params[:controller] == 'issues'
      = link_to profile_issue_path(@issue), class: 'tile' do
        = 'Profile Issue'
    - else
      = link_to issue_path(@issue), class: 'tile' do
        = 'Public Issue'
  - else
    = link_to profile_issues_path(issue: {name: @issue.name}), method: :post, class: 'tile' do
      = 'Adopt Issue'
