- content_for :title, @issue.name
%h1= yield :title
- if @thumbnails.any? || user_signed_in?
  %p
    %strong Context
  .tile-container
    - @thumbnails.each do |thumbnail|
      = render 'layouts/tile', url: thumbnail.url.to_s, title: thumbnail.title
    - if user_signed_in?
      = link_to new_issue_link_path(@issue), class: 'tile' do
        = 'Add Link'
- if @positions.present?
  %p
    %strong Positions
  .tile-container
    - @positions.each do |position|
      = render 'layouts/tile', url: issue_position_path(@issue, position), title: position.name
- else
  %p This issue does not have any positions declared
%p
  %strong Actions
%hr
.tile-container
  - if @adoption.present?
    = link_to profile_issue_path(@issue), class: 'tile' do
      = 'Preferences'
    = link_to new_profile_issue_position_path(@issue), class: 'tile' do
      = 'Add Position'
  - else
    = link_to profile_issues_path(issue: {name: @issue.name}), method: :post, class: 'tile' do
      = 'Adopt Issue'
  = render partial: 'layouts/authentication_tiles'
