- content_for :title, "New Issue Following from #{@position.name} Position"
%h1= yield :title
%section
  = form_for [@position, @issue] do |f|
    .form-group
      = f.label :name
      = f.text_field :name, class: 'form-control'
    .actions.form-group
      = f.submit nil, class: 'btn btn-primary'
  = link_to 'Back to Position', issue_position_path(@position.issue_id, @position)
