%p= "Hello #{@invitee_profile.name || @invitee_userable.email}"

%p= "You have been invited by #{@inviter_profile.name} to join the group #{@group.name}"
%p= link_to "Go to #{@group.name} Group", group_url(@group)
