- content_for :title, "New Link for #{@issue.name}"
%h1= yield :title
%section
  = form_for [@issue, @link] do |f|
    .form-group
      = f.label :url
      = f.text_field :url, class: 'form-control'
    .actions.form-group
      = f.submit nil, class: 'btn btn-primary'
  = link_to 'Back to Issue', issue_path(@issue)
