%p A Position has lost support...

%p
  %strong
    Old Supporter:
  = @supporter_profile.name
%p
  %strong
    Position:
  = @position.name
%p
  %strong
    Outline:
  = @position.outline
%p
  %strong
    Support Count:
  = @support_count

%p= link_to 'Go to Position', issue_position_url(@position.issue_id, @position)
