%h1= "New Position on Issue: #{@issue.name}"
= form_for [@issue, @position] do |f|
  %p= f.label :name
  %p= f.text_field :name
  %p= f.label :outline
  %p= f.text_area :outline
  = f.submit
= link_to 'Back to Group', group_issue_path(@group, @issue)
