- content_for :title, @position.name
%h1= yield :title
%section
  %p= @position.outline
  %h2 Supporters
  = render 'support_options'
  - if @supporting_profiles.any?
    .tile-container
      - @supporting_profiles.each do |profile|
        .tile
          %p= profile.name
  - else
    %p This Position does not have any Supporters

  %p= link_to 'Back to Issue', group_issue_path(@group, @issue)
