- content_for :title, @position.name
%h1= yield :title
%section
  %p= @position.outline
  %p= "#{pluralize @position.supports.length, 'member supports', 'members support'} this position"
  - if @support.present?
    - if @support.position_id == position.id
      %p= link_to 'Withdraw Support', position_support_path(@position, @support), method: :delete
    - else
      %p= link_to 'Shift Support', position_support_path(@position, @support), method: :patch
  - else
    %p= link_to 'Support Position', position_supports_path(@position), method: :post

  %p= link_to 'Back to Issue', group_issue_path(@group, @issue)
  %p= link_to 'Back to Group', group_path(@group)
