- content_for :title, @position.name
%h1= yield :title
%section
  %p= @position.outline
  %p= "#{pluralize @position.supports.length, 'member supports', 'members support'} this position"
  = render 'support_options'

  %p= link_to 'Back to Issue', group_issue_path(@group, @issue)
  %p= link_to 'Back to Group', group_path(@group)
