- content_for :title, @issue.name
%h1= yield :title
%section
  - if @membership.confirmed?
    %p= link_to 'Create New Position', new_issue_position_path(@issue)
  - if @positions.present?
    .tile-container
      - @positions.each do |position|
        = link_to issue_position_path(@issue, position), class: 'tile' do
          = position.name
  - else
    %p This issue does not have any positions declared
  = link_to 'Back to Group', group_path(@group)
