- content_for :title, "Invite New Member to #{@group.name}"
%h1= yield :title
%section
  = form_for User.new, url: group_invitations_path(@group) do |form|
    .form-group
      = form.text_field :email,
        placeholder: 'Enter an email',                                         |
        class: 'form-control'                                                  |
    .actions.form-group
      = submit_tag 'Invite', class: 'btn btn-primary'
  .tile-container
    - @profiles.each do |profile|
      .tile
        %p= link_to "Invite #{profile.name || profile.userable.email}",        |
          group_invitations_path(@group, user: { profile_id: profile.id }),    |
          method: :post                                                        |

  = link_to 'Back to Group', group_path(@group)
