%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %title= "#{yield(:title)} | Open Civic Platform"
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = render 'application/favicon'
  %body
    .flashes
      %span.notice= notice
      %span.alert= alert
    - if current_page?(root_path)
      = yield
    - else
      .container
        = render 'layouts/authentication_links'
        = yield
    %section.footer
